<html>
	<head>
		
	</head>
		<body>
			<p>
	<form>
		<input type='text' name='guess' />
		<input type='submit' value='Guess' />
	</form>
</br>
<%= word_length %>
</br>
<%= contents %>
</br>
<%= message %>
</br>
<a href="/">Play a new game</a>
			</p>
		</body>
</html>