<!DOCTYPE html>
<html>
	<head>
		<title>Hangman</title>
	</head>
		<body>
			<div style='margin-top: 18px;'>
				<h1 style='color: #47544d; line-height: 21px;font-size: 	60px; font-family: arial;'>HANGMAN</h1>
			</div>
		<body>
			
	<form>
		<input type='text' name='difficulty' style='color: #47544d; line-height: 21px;font-size: 	20px; font-family: arial;' />
		<input type='submit' value='Difficulty' />
	</form>
</br>
<p style='color: #2d2e2e; line-height: 21px;font-size: 	20px; font-family: arial;'>
Select a difficulty level from 1-10
<!-- <%= contents %> -->
<!-- <%= word_length %> -->

			</p>
		</body>
</html>