<html>
	<head>
		
	</head>
		<body>
			<p>
	<form>
		<input type='text' name='difficulty' />
		<input type='submit' value='Difficulty' />
	</form>
</br>
<%= contents %>
<%= word_length %>

			</p>
		</body>
</html>